.navbar__container {
  width: 95%;
  height: 70px;
  background-color: white;
  margin: 30px;
  position: relative;
  z-index: 10;

  .navbar__container-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .navbar__container-wrapper-shape {
      display: flex;
      width: 8%;
      justify-content: space-evenly;
      .navbar__container-box {
        width: 30px;
        height: 30px;
        background-color: red;
      }
      .navbar__container-circle {
        width: 30px;
        height: 30px;
        background-color: green;
        border-radius: 50%;
      }
    }
    .navbar__container-list {
      display: flex;
      width: 14%;
      cursor: pointer;
      .navbar__container-list__wrapper {
        display: flex;
        width: 100%;
        .navbar__container-list__wrapper-content:nth-child(2) {
          margin-left: 10px;
          margin-right: 10px;
        }
        .navbar__container-list__wrapper-content:hover {
          color: lightgray;
        }
      }
    }
  }
  .navbar__container__header {
    font-weight: bold;
    margin-left: 6px;
  }
}

/* Mobile version media querry */
@media only screen and (max-width: 600px) {
  .navbar__container {
    width: 50%;

    .navbar__container-wrapper {
      .navbar__container-wrapper-shape {
        width: 47%;
        margin-top: 5px;
        .navbar__container-box {
          width: 20px;
          height: 20px;
          background-color: green;
        }
        .navbar__container-circle {
          width: 20px;
          height: 20px;
          background-color: green;
          border-radius: 50%;
        }
      }
    }
    .navbar__container__header {
      margin-left: 4px;
    }
  }
}
